div.slide-nav,
.hamburger {
	display: none;
}

@include media (450px) {
	div.slide-nav {
		display: block;
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 50vh;
		top: 0;
		transition: all 0.4s; /* magic to animate it */
		background: $primaryLight;
		ul {
			flex-direction: column;
			align-items: center;
			padding-top: 2rem;
			a {
				border-bottom: .25rem solid black;
				padding: .5rem;
				margin-top: 1rem;
			}
		}
	}

	
	div.slide-nav.show {
		visibility: visible;
	}
	
	input[type="checkbox"]:checked + div {
		visibility: visible;
	}
	
	label[for="toggle"] {
		z-index: 11;
		position: fixed;
	}
	
	.hamburger,
	.exit-responsive {
		display: block;
		background: transparent;
		font-size: 1.5rem;
		border: none;
		color: $buttonColor;
		cursor: pointer;
		}
		
	
	// put an active state on mobile nav 
	
	input[type="checkbox"] {
		display: none;
	}
}

